<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>samplelogin</display-name>
    <servlet>
        <description>
		</description>
        <display-name>LoginVerify</display-name>
        <servlet-name>LoginVerify</servlet-name>
        <servlet-class>LoginVerify</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>WelcomeServlet</display-name>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>CheckUser</display-name>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>CheckUser</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>Database</display-name>
        <servlet-name>Database</servlet-name>
        <servlet-class>Database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Birthcertificate2</servlet-name>
        <servlet-class>Birthcertificate2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Birthedit2</servlet-name>
        <servlet-class>Birthedit2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deathcertificate2</servlet-name>
        <servlet-class>Deathcertificate2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Propertyreceipt2</servlet-name>
        <servlet-class>Propertyreceipt2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Propertyverify</servlet-name>
        <servlet-class>Propertyverify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Propertyreceipt4</servlet-name>
        <servlet-class>Propertyreceipt4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deathedit2</servlet-name>
        <servlet-class>Deathedit2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marriagecertificate2</servlet-name>
        <servlet-class>Marriagecertificate2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rationcard2</servlet-name>
        <servlet-class>Rationcard2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBrand</servlet-name>
        <servlet-class>AddBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuantity</servlet-name>
        <servlet-class>AddQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStoresForm</servlet-name>
        <servlet-class>AddStoresForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Brand</servlet-name>
        <servlet-class>Brand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayColony</servlet-name>
        <servlet-class>DisplayColony</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayColonyHindi</servlet-name>
        <servlet-class>DisplayColonyHindi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Family</servlet-name>
        <servlet-class>Family</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyDomNew2</servlet-name>
        <servlet-class>PropertyDomNew2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RationCardEdit3</servlet-name>
        <servlet-class>RationCardEdit3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RationRegno</servlet-name>
        <servlet-class>RationRegno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RationSession</servlet-name>
        <servlet-class>RationSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptWaterInter</servlet-name>
        <servlet-class>ReceiptWaterInter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecWaterIntermediate</servlet-name>
        <servlet-class>RecWaterIntermediate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveQuantity</servlet-name>
        <servlet-class>RemoveQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItem</servlet-name>
        <servlet-class>RemoveItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCategory</servlet-name>
        <servlet-class>RemoveCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBrand</servlet-name>
        <servlet-class>RemoveBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayWard</servlet-name>
        <servlet-class>DisplayWard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyRegno</servlet-name>
        <servlet-class>PropertyRegno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaxSave</servlet-name>
        <servlet-class>TaxSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WaterRegIntermediate</servlet-name>
        <servlet-class>WaterRegIntermediate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentIntermediate</servlet-name>
        <servlet-class>PaymentIntermediate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment2</servlet-name>
        <servlet-class>Payment2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginVerify</servlet-name>
        <url-pattern>/LoginVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Database</servlet-name>
        <url-pattern>/Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Birthcertificate2</servlet-name>
        <url-pattern>/Birthcertificate2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Birthedit2</servlet-name>
        <url-pattern>/Birthedit2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deathcertificate2</servlet-name>
        <url-pattern>/Deathcertificate2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Propertyreceipt2</servlet-name>
        <url-pattern>/Propertyreceipt2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Propertyverify</servlet-name>
        <url-pattern>/Propertyverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Propertyreceipt4</servlet-name>
        <url-pattern>/Propertyreceipt4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deathedit2</servlet-name>
        <url-pattern>/Deathedit2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marriageedit2</servlet-name>
        <url-pattern>/Marriageedit2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rationcard2</servlet-name>
        <url-pattern>/Rationcard2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBrand</servlet-name>
        <url-pattern>/AddBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuantity</servlet-name>
        <url-pattern>/AddQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStoresForm</servlet-name>
        <url-pattern>/AddStoresForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Brand</servlet-name>
        <url-pattern>/Brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayColony</servlet-name>
        <url-pattern>/DisplayColony</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayColonyHindi</servlet-name>
        <url-pattern>/DisplayColonyHindi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Family</servlet-name>
        <url-pattern>/Family</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyDomNew2</servlet-name>
        <url-pattern>/PropertyDomNew2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RationCardEdit3</servlet-name>
        <url-pattern>/RationCardEdit3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RationRegno</servlet-name>
        <url-pattern>/RationRegno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RationSession</servlet-name>
        <url-pattern>/RationSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptWaterInter</servlet-name>
        <url-pattern>/ReceiptWaterInter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecWaterIntermediate</servlet-name>
        <url-pattern>/RecWaterIntermediate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveQuantity</servlet-name>
        <url-pattern>/RemoveQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItem</servlet-name>
        <url-pattern>/RemoveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCategory</servlet-name>
        <url-pattern>/RemoveCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBrand</servlet-name>
        <url-pattern>/RemoveBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayWard</servlet-name>
        <url-pattern>/DisplayWard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyRegno</servlet-name>
        <url-pattern>/PropertyRegno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaxSave</servlet-name>
        <url-pattern>/TaxSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WaterRegIntermediate</servlet-name>
        <url-pattern>/WaterRegIntermediate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentIntermediate</servlet-name>
        <url-pattern>/PaymentIntermediate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment2</servlet-name>
        <url-pattern>/Payment2</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
